// OVERRIDES //////////////////////////////////////////////////////////////////
$em-base: 16px;

@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'core/variables.scss';
@import 'core/mixins.scss';
@import 'core/normalize.scss';
@import 'core/global.scss';
@import 'core/type.scss';
@import 'core/tables.scss';
@import 'core/buttons.scss';

$content-max-width: em(1080px);
$content-padding: 3em;

// BASE ///////////////////////////////////////////////////////////////////////
html {
    position: relative;
    min-height: 100%;
    -webkit-text-size-adjust: none;
    font-size: $em-base;
    font-family: $base-font-family;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
    background-color: $almost-white;
    overflow-y: scroll;

    &.has-modal,
    &.no-scroll {
        width: 100%;
        overflow: hidden;

        .ipad & {
            position: fixed; // prevents mobile safari from losing its tiny mind when software keyboard is shown
        }
    }
}


// LAYOUT /////////////////////////////////////////////////////////////////////
%layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    > main {
        display: flex;
        width: 100%;
        flex: 1 0 auto;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    &.layout--centered {
        > main {
            justify-content: center;
        }
    }
}

%layout-content {
    width: 100%;
    max-width: $content-max-width;
    margin: 0 auto;
    padding: $content-padding;
    text-align: center;
}

%btn-glyph {
    display: block;
    width: 2em;
    height: 2em;
    cursor: pointer;

    > span {
        display: block;
        width: 100%;
        height: 100%;
    }

    &:active {
        transform: scale(.9);
    }
}

%txt-nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-word;
}



// LIBS ///////////////////////////////////////////////////////////////////////
.libs {
    @extend %layout;

    > main {
        justify-content: center;
    }
}

.libs-content {
    @extend %layout-content;

    > hr {
        height: 0;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.libs-list {
    margin: 0 0 4em 0;
    padding: 0;
    list-style: none;
}

.libs-list-item-left,
.libs-list-item-right {
    display: inline-block;
    padding: 0 2em 0 0;
    vertical-align: middle;
}

.libs-list-item-left {
    width: 75%;
    text-align: right;

    h2 {
        @extend %txt-nowrap;
    }

    p {
        word-break: break-word;
    }
}

.libs-list-item-right {
    width: 25%;
    text-align: left;
}

.libs-detail-btn {
    @extend .secondary-btn;
}

.libs-next-btn,
.libs-prev-btn {
    @extend .btn;
    margin: 1em 2em;
}


// SDK ///////////////////////////////////////////////////////////////////////
.sdk {
    @extend %layout;

    > main {
        justify-content: center;
    }
}

.sdk-content {
    @extend %layout-content;
    max-width: 33em;
}

.sdk-close-btn {
    @extend %btn-glyph;
    position: absolute;
    top: 2em;
    right: 2em;
}

.sdk-card {
    h1 {
        @extend %txt-nowrap;
        max-width: 9em;
    }

    table {
        margin-bottom: 3em;
    }
}

.sdk-card-download-btn {
    @extend .btn;
}

@include media($xsmall-only){
    .sdk-content {
        padding: 0;
    }

    .sdk-close-btn {
        top: 1em;
        right: 1em;
        width: 1.5em;
        height: 1.5em;
    }
}
