
$color-white: #ffffff;
$color-red: #ff0000;

@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'core/variables.scss';
@import 'core/mixins.scss';
@import 'core/normalize.scss';
@import 'core/global.scss';
@import 'core/buttons.scss';

body {
    color: $carrot;
    background-color: $color-white;
}
